.mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .cus-container {
        width: 100%;
    }

    .content .item, .footer .cus-col {
        width: 100%;
        margin-right: 0;
    }

    .menu .cus-container {
        background: skyblue;
    }

    .logo img {
        padding: 15px;
    }

    .mobile .bars {
        font-size: 32px;
        right: 15px;
        top: 15px;
        position: absolute;
        z-index: 1;
    }

    .menu .mobile {
        height: 75px;
    }

    .menu .mobile-menu {
        position: relative;
        height: 100%;
    }

    .mobile-menu ul {
        display: block;
        margin: 0;
        background: skyblue;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        z-index: 1;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    .mobile-menu ul.active {
        height: 100vh;
    }

    .mobile-menu ul li {
        display: block;
        border-top: 1px solid black;
        padding: 8px 15px;
        text-align: center;
    }

    .mobile-menu ul li.last {
        border-bottom: 1px solid black;
    }
}