* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.clearfix {
    clear: both;
}

.menu {
    background-color: skyblue;
    height: 75px;
}

.cus-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu .logo {
    float: left;
}

.menu .cus-container,
.menu .logo {
    height: 100%;
}

.logo img {
    max-height: 100%;
    padding: 5px 0;
    height: 75px;
    width: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.menu ul li, .menu ul {
    display: inline-block;
}

.menu ul li {
    padding: 26px 25px 25px;
    cursor: pointer;
}

.search {
    float: right;
    font-size: 35px;
    padding-top: 10px;
}

.list-menu {
    float: left;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 100%;
    left: 50%;
    background: darkcyan;
    text-align: center;
    overflow: hidden;
    transform: translateX(-50%);
}

.menu ul.child {
    margin: 0;
    z-index: 1;
    /* display: none; */
    /* opacity: 0; */
    height: 0;
    transition: all 0.5s ease-in-out;
}

.menu ul.child li {
    display: block;
}

.parent:hover .child {
    /* display: block; */
    /* opacity: 1; */
    height: 300%;
}

.list-menu li {
    background-color: skyblue;
    color: black;
    transition: all 0.5s ease-in-out;
}

.list-menu li:hover {
    background-color: black;
    color: white;
}

.slider {
    position: relative;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 35px;
}

.control:hover {
    color: white;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.slider .caption {
    position: absolute;
    bottom: 25px;
    left: 50px;
}

.slider .caption p {
    margin: 0;
    color: white;
}

.slider .caption .title {
    font-size: 32px;
}

.slider .caption .sub {
    font-size: 20px;
    font-style: italic;
}

.content .cus-container {
    /* border: 1px solid black;
    border-top: none;
    border-bottom: none; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 25px 15px;
}

.content .top,
.content .middle {
    margin-bottom: 25px;
}

.label {
    display: inline-block;
    padding: 8px 25px;
    background: skyblue;
    text-transform: uppercase;
    border: 1px solid black;
}

.next-prev {
    float: right;
}

.next-prev button,
.bottom button {
    background: none;
    border: 1px solid black;
    margin: 7px 0 8px;
    cursor: pointer;
}

.next-prev button:focus,
.bottom button:focus {
    outline: none;
}

.bottom button {
    min-width: 29px;
    text-align: center;
}

.bottom .fas {
    margin-left: 5px;
    margin-right: 5px;
}

.bottom .paging {
    float: right;
    font-style: italic;
    font-size: 13px;
    margin-top: 10px;
}

.content .item,
.footer .cus-col {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.content .item.last,
.footer .cus-col.last {
    margin-right: 0;
}

/* .content .item:nth-child(3n) {
    margin-right: 0;
} */

.text p {
    margin-bottom: 10px;
}

.text p.title {
    margin-top: 10px;
    font-weight: bold;
}

.text p.author {
    font-style: italic;
}

.text .date {
    float: right;
    font-style: normal;
}

.footer .cus-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.footer .main {
    padding: 15px;
    border-top: 1px solid black;
    background: skyblue;
}

.footer .description {
    margin-top: 25px;
    font-size: 14px;
    color: white;
}

.footer .social {
    margin-top: 25px;
}

.footer .social .fab {
    margin-right: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.footer .social .fa-facebook:hover {
    color: #557dc3;
}

.footer .label {
    background-color: goldenrod;
}

.footer .list-row {
    padding: 25px 0;
}

.footer .image {
    width: 35%;
    display: inline-block;
}

.footer .text {
    width: 60%;
    float: right;
    color: white;
    font-size: 14px;
}

.footer .text p {
    line-height: 1.3;
}

.footer .cus-col.last p {
    color: white;
}

.footer .cus-col.last p span {
    float: right;
}

.footer .sub {
    background: black;
}

.footer .sub p {
    margin: 0;
    padding: 15px;
    color: white;
}

.backToTop {
    font-size: 32px;
    padding: 0 10px;
    border: 5px solid black;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.item .image {
    position: relative;
}

.effect-1 .cover,
.effect-2 .cover,
.effect-3 .cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
    transition: all 0.5s ease;
}

.cover .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.effect-1:hover .image .cover {
    opacity: 1;
}

.effect-2 .cover {
    opacity: 1;
    height: 0;
    overflow: hidden;
}

.effect-2:hover .image .cover {
    height: 100%;
}

.effect-3 .cover {
    top: auto;
    bottom: 0;
    opacity: 1;
    height: 0;
    overflow: hidden;
}

.effect-3:hover .image .cover {
    height: 100%;
}

.image {
    overflow: hidden;
}

.effect-4 img {
    transition: all 0.5s ease;
}

.effect-4:hover img {
    transform: scale(1.2);
}

.effect-5 img {
    animation: test 5s linear infinite;
}

@keyframes test {
    0%, 100% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(90deg);
        opacity: 0.5;
    }
}

/* Slider with background */
.carousel-item {
    height: calc(100vh - 75px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}